# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.swp

# Archivos de base de datos H2 (si usas en modo archivo)
*.h2.db
*.mv.db
